body {
	margin: 0;
	padding: 0;
	font-family: Arial, sans-serif;
    background-color: black;
}
.messages {
	color: rgb(245, 239, 239);
	background-color: lightgray;
	padding: 10px;
	margin-bottom: 10px;
}
.login-container {
	margin: 100px auto;
	width: 400px;
	padding: 20px;
	background-color: #f2f2f2;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    box-shadow: rgba(193, 135, 135, 0.25) 0px 54px 55px, rgba(232, 149, 149, 0.12) 0px -12px 30px, rgba(249, 136, 136, 0.12) 0px 4px 6px, rgba(242, 117, 117, 0.17) 0px 12px 13px, rgba(251, 140, 140, 0.09) 0px -3px 5px;;

}

h1 {
	text-align: center;
}

label {
	display: block;
	margin: 10px 0;
}

input[type="text"],
input[type="password"] {
	padding: 10px;
	width: 100%;
	border: 1px solid #ccc;
	border-radius: 5px;
}

button {
	display: inline;
	padding: 10px 20px;
	background-color: #4CAF50;
	color: #fff;
	border: none;
	border-radius: 17px;
	cursor: pointer;
}
.button_size {
    display: flex;
    justify-content: space-evenly;
    margin: 10px 0 10px 0;
}
button a{
	text-decoration: none;
	color: white;
}
button[type="submit"]:hover {
	background-color: #39db39;
}
.button_size{
	display: flex;
}
